<nav class="navbar sticky-lg-top navbar-light bg-white d-flex w-100 navbar-expand-lg
        border border-bottom border-primary border-3 border-0">
    <div class="d-flex justify-content-between w-100">
        <a href="#"
           class=" navbar-brand d-flex fs-2 text-decoration-none
                   p-1 px-3 ms-2 ">
            <img src="images/homepage/infoken_logo.png" class=" " width="30px" height="30px"/>
            <h1 class="fs-3 ps-3">Infoken App</h1>
        </a>

        <div class="collapse navbar-collapse " id="navmenu">
            <ul class="navbar-nav justify-content-center w-100">
                <li class="nav-item ps-5">
                    <a href="#Home" class="nav-link d-flex align-items-center">
                        <h3 class="fs-5 ps-2 ">Home</h3>
                    </a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#Events" class="nav-link d-flex  align-items-center">
                        <h3 class="fs-5 ps-2 ">Events</h3>
                    </a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#Books" class="nav-link d-flex align-items-center">
                        <h3 class="fs-5 ps-2 ">Books</h3>
                    </a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#getm" class="nav-link d-flex align-items-center">
                        <h3 class="fs-5 ps-2 ">ግጥም</h3>
                    </a>
                </li>
                <li class="nav-item ps-5">
                    <a href="#About" class="nav-link d-flex align-items-center">
                        <h3 class="fs-5 ps-2 ">About</h3>
                    </a>
                </li>
            </ul>
        </div>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="login" class="navbar-brand d-flex align-items-center px-4">
            <img src="images/homepage/user.png"
                 class="rounded-circle bg-body border border-dark"
                 width="40px" height="40px">
            <h3 class="fs-5 ps-2 ">Login</h3>
        </a>
    </div>
</nav>

<!--body content-->

<div class="d-flex w-100 bg-white mw-100 flex-column">

    <div class="top-container w-100 d-flex justify-content-center flex-column
    shadow-sm px-5">

        <h1 class="fs-1 text-primary align-self-center pt-3 pb-2 fw-bold">Infoken</h1>

        <p class="fs-4 text-dark text-center mx-5 px-lg-5 ">
            <strong>Infoken</strong> is a book renting club based at main campus of the
            <strong>Arbaminch University</strong>, which is the city of great African rift valley.
            <br>
            <i>Let's start exploring Arbaminch first by photos and then we will dive into Infoken.</i>
        </p>

        <!--    card container-->

            <div class="card p-3 pb-1 shadow-lg ">
                <div class="row g-0 justify-content-center">
                    <div class="col-md-8">
                        <img id="card-image" src="images/arbaminch/1.jpg"
                             class=" img-fluid rounded-start border rounded-5"
                             alt="...">
                    </div>
                    <div class="col-md-4 ">
                        <div class="card-body d-flex flex-column h-100 border border-2 justify-content-center align-items-center">
                            <h5 id="card-title" class=" text-uppercase card-title fs-3 fw-bold text-center">Card title</h5>
                            <p id="card-desc" class=" text-lowercase card-text fst-italic text-start">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p id="card-cite" class=" text-lowercase card-text">
                                <small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>

                <div class=" next-previous-buttons py-2 justify-content-center d-flex
                gap-4 row-1">

                    <buttun id="btn-previous" class="  border border-primary border-1 rounded-5 btn btn-primary text-white px-4 mx-2" value="Click">Previous</buttun>
                    <buttun id="btn-next" class="  border border-primary border-1 rounded-5 btn btn-primary text-white px-4 mx-2" value="Click">Next</buttun>

                </div>

            </div>

    </div>

    <!--        Books-->
    <h1 class="fs-2 w-100 border border-0 border-bottom border-dark border-3 ms-5">Books</h1>
    <div class="d-flex w-100 justify-content-center gap-4 flex-wrap">
        <div class="card gap-2 ms-3 mb-5  shadow-lg" style="width: 20rem;">
            <img src="images/books/dertogeda.png" alt="dertogeda image alternative"
                 class="card-img-top">
            <div class="card-body">
                <h5 id="firstBook" class="card-title fs-3 fw-bolder text-black text-center">ዴርቶገዳ Dertogeda</h5>
                <p class="card-text">
                    Dertogeda is the most known amharic fiction written by "Yismeak Worku" who is the famous author
                    of more than six different books. Yismeak Worku is the young writter and unmarried live in Addis
                    Abeba.
                </p>
                <a href="#" class="btn btn-primary">Read More.....</a>
            </div>
        </div>
        <div class="card gap-2 ms-3 mb-5  shadow-lg align-items-center" style="width: 20rem; height: auto">
            <img src="images/books/mastewesha.png" alt="dertogeda image alternative"
                 class="card-img-top">
            <div class="card-body">
                <h5 class="card-title fs-3 fw-bolder text-black text-center">የጋዜጠኛ ማስታወሻ</h5>
                <p class="card-text ">
                    Dertogeda is the most known amharic fiction written by "Yismeak Worku" who is the famous author
                    of more than six different books. Yismeak Worku is the young writter and unmarried live in Addis
                    Abeba.
                </p>
                <a href="#" class="btn btn-primary">Read More.....</a>
            </div>
        </div>
        <div class="card gap-2 ms-3 mb-5  shadow-lg" style="width: 20rem;">
            <img src="images/books/enkelf_lemne.png" alt="dertogeda image alternative"
                 class="card-img-top">
            <div class="card-body">
                <h5 class="card-title fs-3 fw-bolder text-black text-center">እንቅልፍ ለምኔ</h5>
                <p class="card-text">
                    Dertogeda is the most known amharic fiction written by "Yismeak Worku" who is the famous author
                    of more than six different books. Yismeak Worku is the young writter and unmarried live in Addis
                    Abeba.
                </p>
                <a href="#" class="btn btn-primary">Read More.....</a>
            </div>
        </div>
        <div class="card gap-2 ms-3 mb-5 shadow-lg" style="width: 20rem; ">
            <img src="images/books/enkelf_lemne.png"
                 alt="dertogeda image alternative"
                 class="card-img-top"
            >
            <div class="card-body">
                <h5 class="card-title fs-3 fw-bolder text-black text-center ">እንቅልፍ ለምኔ</h5>
                <p class="card-text">
                    Dertogeda is the most known amharic fiction written by "Yismeak Worku" who is the famous author
                    of more than six different books. Yismeak Worku is the young writter and unmarried live in Addis
                    Abeba.
                </p>
                <a href="#" class="btn btn-primary">Read More.....</a>
            </div>
        </div>

    </div>

    <!--        Events-->
    <div class="events">
        <h1 class="fs-2 w-100 border border-0 border-bottom border-dark border-3 ms-5">Hello Events</h1>

    </div>

    <!--        Comments-->
    <div class="comments">
        <h1 class="fs-2 w-100 border border-0 border-bottom border-dark border-3 ms-5">Hello Comments</h1>

    </div>

</div>

<script src="script/homepage/cardContents.js"></script>
<script src="script/homepage/index.js"></script>
<script src="script/homepage/processCards.js"></script>


