<h2>Index file is loaded successfully...</h2>
<form method="post" enctype="multipart/form-data" action="/photo">
    <input type="number" name="IS_ID" value="23"/>
    <input type="file" name="studentPhoto" mimetype="images">
    <input type="submit">

</form>